VITE_SUPABASE_URL=https://sbhqbzlfnumnwvffjimj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNiaHFiemxmbnVtbnd2ZmZqaW1qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzNzExMzYsImV4cCI6MjA3Nzk0NzEzNn0.aAnT3Q2FWUjaRoYwuXjtub5SKdCbRPMe1_kuwhopA5s
VITE_SUPABASE_REDIRECT_URL=http://localhost:3000/auth/callback
VITE_PROMO_SECRET=123abcTESTkey90219
